body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  margin-top: 1em;
}

.logo {
  width: 40%;
}
.tabcontent {
  display: none;
}
.active {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;
  margin-top: 5em;
}

.btn {
  all: unset;
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  padding: 1.1em 2.8em;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  border: 0.1em solid #ffffff;
}
.btn:hover {
  background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
}
.heading {
  font-size: 2rem;
  font-weight: 900;
  background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.content > input {
  padding: 1.3em 10em 1.3em 4em;
  border-radius: 30px;
  outline: none;
}

.content > input::placeholder {
  color: #27292e;
  font-size: 0.9rem;
}
